body {
    margin: 0px;
}

.appHeader {
    background-color: blue;
}

.appFooter {
    background-color: blue; 
    height: 200px;
}

.normal {
    font-size: 32px;
    color: black;
}

.jumpBetter {
    font-size: 32px;
    color: red;
}

.jumpWorse {
    font-size: 32px;
    color: blue;
}
